@import "../../../../scss/variables";

.TicketSegment{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 10px;

    &__infobox{
        width: 140px;
    }

    &__title{
        @extend %title_style;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $text_light;
    }

    &__value{
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: $text_dark;
    }
}