@import "../../scss/_variables.scss";
@import "../../scss/reset";

.leftSidebar{
    &__filter{
        margin-right: 20px;
    }
}

.filter{
    width: 232px;
    height: 252px;
    @extend %background_style;
    cursor: default;
    
    &__title{
        @extend %title_style;
        color: $text_dark; 
        font-size: 12px;
        line-height: 12px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
}