@import "../../../scss/_variables.scss";
@import "../../../scss/reset";

.checkboxItem{
    height: 40px;
    display: flex;
    align-items: center;
    cursor: url("../../../images/Cursor.svg") 4 1, auto;

    &__checkbox{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.checkboxItem:hover{
    background: #F1FCFF;
}

.checkbox{
    &__name{
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: $text_dark;
        cursor: inherit;
    }

    &__name::before 
    {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #9ABBCE;
        border-radius: 2px;
        margin-right: 10px;
    }

    &__box{
        width: 22px;
        height: 22px;
        margin: 0;
        position: absolute;
        z-index: 10;
        opacity: 0;
        cursor: inherit;
    }

    &__box + &__name 
    {
        display: inline-flex;
        align-items: center;
        position: relative;
    }

    &__box:checked + &__name::before {
        border: 1px solid  #2196F3;
    }

    &__box:checked + &__name::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;
        width: 10px;
        height: 5px;
        border-radius: 1px;
        border-left: 4px solid $color_blue;
        border-bottom: 4px solid $color_blue;
        transform: rotate(-45deg);
    }
}



