%background_style{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

%title_style{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

%set_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

$text_dark: #4A4A4A;
$text_light: #A0B0B9;
$color_blue: #2196F3;